.cv__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.cv__section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

  h1{
    width: 100%;
    font-size: $l-size;
    margin-bottom: 0;
  }
}

.cv__title{
  width: 100%;
}
.cv__item{
  margin: 20px;
  h2{
    margin-top: 0;
  }
  ul{
    padding: 0;
    margin-bottom: 0;
  }
  li{
    list-style: none;
    margin-bottom: 5px;
  }
}

.cv__section.work, .cv__section.education, .cv__section.awards{
  align-self: flex-start;
  max-width: 30vw;
  min-width: 250px;
  .cv__item{
    ul{
      margin-top: 0;
    }
    li{
      margin-bottom: 20px;
      li{
        margin-bottom: 0;
      }
    }
  }
}
