.homeview--projectInfo{
  align-items: center;
  display: flex;
  flex: 1 1 0;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}
.homeview--projectIndex{
  font-family: $type-kumar;
  font-size: 2rem;
  letter-spacing: 3px;
}
.homeview--projectTitle{
  margin: 40px 0 10px 0;
}
.homeview--projectSubtitle{
  margin-bottom: 30px;
}
.homeview--projectDate{
  font-family: $type-sans;
  font-weight: bold;
  letter-spacing: 3px;
}

@media only screen and (max-width: 500px) {

  .homeview--projectSubtitle{
    margin-bottom: 0;
    width: 100vw;
  }
  .homeview--projectIndex{
    order: 3;
  }
  .homeview--projectDate{
    order: 4;
  }
}
