.homeview--projectInfo{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.homeview--projectIndex{
  font-family: $type-kumar;
  font-size: 2rem;
  letter-spacing: 3px;
}
.homeview--projectTitle{
  margin: 40px 0 10px 0;
}
.homeview--projectSubtitle{
  margin-bottom: 30px;
}
.homeview--projectDate{
  font-family: $type-sans;
  font-weight: bold;
  letter-spacing: 3px;
}
