.LoadingScreen{
  align-items: center;
  background-image: $bg-grad;
  display: flex;
  flex-flow: row;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}
