.project--splashContainer{
  position: absolute;
  top: 30vh;
  width: 100vw;
  text-align: center;
}

.project--sectionHeader{
  font-family: $type-kumar;
  font-size: $l-size;
  margin-bottom: 1rem;
}

.project--section{
  margin: 50px 0;
  text-align: center;

  ul{
    list-style: none;
    padding: 0;
  }
}

.project--img{
  display: block;
  margin: 0 auto;
  width: 90%;
  z-index: -1;
}

@keyframes img-roll {
  0% {
    transform: rotate3d(1,0,1, 0deg);
  }
  100% {
    transform: rotate3d(1,0,1, 360deg);
  }
}
