.work__infoContainer{
  left: 20px;
  position: absolute;
  top: 30vh;
  background-color: #f0e9e2;
    padding: 20px;
}

.work__projectInfo{

}

.work__projectList{
  list-style: none;
  padding: 0;

  li{
    margin-bottom: 20px;
  }
}
