.thumbnail__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.thumbnail__item{
  display: block;
  margin: 30px;
  max-width: 500px;
  min-width: 200px;
  text-align: center;
  width: 40vw;
}
.thumbnail__img{
  width: 100%;
}
.thumbnail__title{
  margin-bottom: 10px;
  word-break: break-all;
}
