.topNav--container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 100%;
}

.topNav--linkContainer{
  display: none;
}
.topNav--linkContainer.topNav--open{
  display: flex;
  justify-content: center;
  width: 100%;
}

.topNav--link{
  color: $body-color;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 10px;
}
.logotype.topNav--link{
  font-size: 2rem;
}
.is-active{
  font-weight: bold;
}

.topNav--menuButton{
  background-color: transparent;
  background-image: url('../img/icons/menu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 30px;
  width: 30px;
  padding: 0px;

  &:focus{
    outline: none;
  }
}
.topNav--menuButton.topNav--open{
  background-image: url('../img/icons/close.svg');
}
