html{
  font-size: 62.5%;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

#router--container{
  background-image: radial-gradient(50% 150%, #FFFCF9 51%, #D6C8BB 100%);
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  height: 100%;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: default;
}

h1{
  font-family: $type-kumar;
  text-transform: lowercase;
  font-size: $xl-size;
}
h2{
  font-family: $type-sans;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: $m-size;
}

p{
  font-family: $type-serif;
}

a{
  text-decoration: none;
}
